# Merging cleaned complaints, complaint problems, and violation datasets

In this notebook, we will merge the following cleaned and processed datasets:
- Complaints
- Complaint problems
- Housing maintenance code violations

Following these merges, we will have the following informative features:
* Codes describing the specific problems lodged by the tenant(s)
* Building violation histories (total number of Class A, B, and C violations reported over the last 5 years)
* BoroughID

In addition, we will have the building's BBL, which will eventually be used to merge with PLUTO BBL-level features.

In [1]:
import pandas as pd
from get_clean_complaints import *
from get_clean_problem import *

complaints = get_clean_complaint_data()
problems = get_clean_problem_data()

merged_complaints_and_problems = pd.merge(problems, complaints, on='ComplaintID', how='inner')
merged_complaints_and_problems.head(10)

,ProblemID,ComplaintID,UnitTypeID,SpaceTypeID,TypeID,MajorCategoryID,MinorCategoryID,CodeID,StatusDate,StatusDescriptionID,BoroughID,ReceivedDate,BBL
0,15404853,7442155,92,550,1,59,349,2716,2015-04-22,5,2,2015-04-21,2032500071
1,15361014,7422938,91,543,1,59,348,2713,2015-04-07,1,2,2015-04-04,2025060121
2,15407691,7443212,91,543,1,59,348,2713,2015-04-25,1,2,2015-04-22,2039230028
3,15397248,7439053,91,542,1,63,375,2817,2015-04-27,3,2,2015-04-18,2025080014
4,15397249,7439053,91,543,3,63,376,2823,2015-04-27,3,2,2015-04-18,2025080014
5,15397250,7439053,91,543,3,63,376,2820,2015-04-27,2,2,2015-04-18,2025080014
6,15397251,7439053,91,543,3,63,376,2822,2015-04-27,2,2,2015-04-18,2025080014
7,15397252,7439053,91,541,1,63,375,2817,2015-04-27,3,2,2015-04-18,2025080014
8,15384685,7433253,92,550,1,59,349,2716,2015-04-17,5,3,2015-04-14,3058080038
9,15401607,7440826,91,543,1,59,348,2713,2015-04-24,1,3,2015-04-20,3056380047

In [7]:
print complaints.shape, problems.shape, merged_complaints_and_problems.shape

(142794, 4) (777240, 10) (281786, 13)

In [8]:
merged_complaints_and_problems['BBL'].dtype

dtype('int64')

In [12]:
from get_clean_violation import *

violations = get_clean_violation_data()
merged_complaints_problems_violations = pd.merge(merged_complaints_and_problems, violations, on='BBL', how='outer')

In [13]:
merged_complaints_problems_violations.head(6)

,ProblemID,ComplaintID,UnitTypeID,SpaceTypeID,TypeID,MajorCategoryID,MinorCategoryID,CodeID,StatusDate,StatusDescriptionID,BoroughID,ReceivedDate,BBL,Tot_A_violations,Tot_B_violations,Tot_C_violations
0,15404853,7442155,92,550,1,59,349,2716,2015-04-22,5,2,2015-04-21,2032500071,105,117,65
1,15364458,7424637,92,550,1,59,349,2715,2015-04-07,5,2,2015-04-06,2032500071,105,117,65
2,15408402,7443551,92,550,1,59,349,2715,2015-04-23,5,2,2015-04-23,2032500071,105,117,65
3,15362800,7423904,92,550,1,59,349,2715,2015-04-07,5,2,2015-04-05,2032500071,105,117,65
4,15417853,7448642,92,550,1,59,349,2715,2015-04-27,5,2,2015-04-27,2032500071,105,117,65
5,15355357,7420578,92,550,1,59,349,2716,2015-04-07,5,2,2015-04-02,2032500071,105,117,65

In [14]:
merged_complaints_problems_violations.shape

(299099, 16)

This outer join resulted in approximately 18000 extra records- thus, we need to drop rows where ProblemID is null.

In [15]:
merged_complaints_problems_violations = merged_complaints_problems_violations[~(merged_complaints_problems_violations['ProblemID'].isnull())]

In [16]:
merged_complaints_problems_violations.shape

(281786, 16)

Now let's see how many violations histories matched records in our complaint dataset.

In [17]:
is_null = merged_complaints_problems_violations[(merged_complaints_problems_violations['Tot_A_violations'].isnull())]
print is_null.shape

(64537, 16)

So, of the complaints received between April 1st, 2015 and now, $\frac{64537 - 281786}{281786} = \frac{217249}{281786} = 77.1\%$ are from BBLs with at least one violation between April 1st, 2010, and March 31st, 2015. 

The last thing we need to do to finish cleaning up the merged dataset is to replace null values with zeros for Tot_A_violations, Tot_B_violations, and Tot_C_violations.

In [18]:
merged_complaints_problems_violations['Tot_A_violations'] = merged_complaints_problems_violations['Tot_A_violations'].fillna(0)
merged_complaints_problems_violations['Tot_B_violations'] = merged_complaints_problems_violations['Tot_B_violations'].fillna(0)
merged_complaints_problems_violations['Tot_C_violations'] = merged_complaints_problems_violations['Tot_C_violations'].fillna(0)

print merged_complaints_problems_violations['Tot_A_violations'].isnull().sum()
print merged_complaints_problems_violations['Tot_B_violations'].isnull().sum()
print merged_complaints_problems_violations['Tot_C_violations'].isnull().sum()

0
0
0

Now that we've finished the merge and filled NaN values, let's take a look at the data set (and write it to disc as a csv file for fast loading in future sessions).

In [19]:
merged_complaints_problems_violations.head(6)

,ProblemID,ComplaintID,UnitTypeID,SpaceTypeID,TypeID,MajorCategoryID,MinorCategoryID,CodeID,StatusDate,StatusDescriptionID,BoroughID,ReceivedDate,BBL,Tot_A_violations,Tot_B_violations,Tot_C_violations
0,15404853,7442155,92,550,1,59,349,2716,2015-04-22,5,2,2015-04-21,2032500071,105,117,65
1,15364458,7424637,92,550,1,59,349,2715,2015-04-07,5,2,2015-04-06,2032500071,105,117,65
2,15408402,7443551,92,550,1,59,349,2715,2015-04-23,5,2,2015-04-23,2032500071,105,117,65
3,15362800,7423904,92,550,1,59,349,2715,2015-04-07,5,2,2015-04-05,2032500071,105,117,65
4,15417853,7448642,92,550,1,59,349,2715,2015-04-27,5,2,2015-04-27,2032500071,105,117,65
5,15355357,7420578,92,550,1,59,349,2716,2015-04-07,5,2,2015-04-02,2032500071,105,117,65

In [21]:
merged_complaints_problems_violations.to_csv('data/merged_complaints_problems_violations.csv')

At this point, we have many potentially informative features. Categorical features (which will need to be converted into dummy variables via pd.get_dummies) include:
- UnitTypeID
- SpaceTypeID
- TypeID
- MajorCategoryID
- MinorCategoryID
- CodeID
- StatusDescriptionID (our Target Variable)
- BoroughID

Numeric features include:
- Tot_A_violations
- Tot_B_violations
- Tot_C_violations

The following features are (likely) not informative and will likely be dropped after final merges:
- BBL
- ReceivedDate
- StatusDate
- ComplaintID
- ProblemID